sudo: false
language: python

# this list can be easily checked by running `tox -l`
matrix:
  include:  
    # the dist: xenial, sudo: true settings are currently needed to test with python 3.8
    - { python: "3.8", env: TOX_ENV=py38-django30-async, dist: xenial, sudo: true }
    - { python: "3.8", env: TOX_ENV=py38-django30-sync,  dist: xenial, sudo: true }

    - { python: "3.9", env: TOX_ENV=py39-django40-async,  dist: xenial, sudo: true }
    - { python: "3.9", env: TOX_ENV=py39-django40-sync,  dist: xenial, sudo: true }

    - { python: "'3.10'", env: TOX_ENV=py310-django40-async,  dist: xenial, sudo: true }
    - { python: "'3.10'", env: TOX_ENV=py310-django40-sync,  dist: xenial, sudo: true }

    - { python: "3.11", env: TOX_ENV=py311-django40-async,  dist: xenial, sudo: true }
    - { python: "3.11", env: TOX_ENV=py311-django40-sync,  dist: xenial, sudo: true }

    - { python: "3.12", env: TOX_ENV=py312-django40-async,  dist: xenial, sudo: true }
    - { python: "3.12", env: TOX_ENV=py312-django40-sync,  dist: xenial, sudo: true }
    
install: pip install tox-travis coveralls

script: tox -e $TOX_ENV

after_success: coveralls
